body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    margin: 0;
    font-family: Arial;
}

.container {
    max-width: 1260px;
    min-width: 800px;
    margin: 0 auto;
    background-color: #8BFF77;
}

header {
    height: 150px;
    clear: left;
    text-align: center;
    background: #a2fed8; /* Для старых браузров */
    background: linear-gradient(to top, #fefcea, #a2fed8);
    padding: 10px;
}

header span {
    font-size: 60px;
    position: absolute;
    top: 40px;
    margin-left: -150px;
}

.sticky {
    top: 0;
}

nav {
    margin: 0;
    background-color: #8BFF77;
    position: fixed;
    top: 157px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    width: 1260px;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    padding: 8px 8px 8px 10px;
    margin-bottom: 2px;
    cursor: pointer;
    list-style-type: none;
    background-color: #6BEF67;
    float: left;
    display: inline;
    margin-right: 3px;
}

nav li:hover, nav li.active {
    background-color: #4BDF37;

}

nav embed {
    width: 100%;
    margin-top: 1em;
}

.content {
    min-height: 478px;
    padding: 1em;
    overflow: auto;
    color: white;
    text-align: center;
    background-color: #99CC00;
    color: #0066FF;
    margin-top: 20px;
}

.photos div {
    float: left;
    border: 1px solid black;
    margin: 10px;
    width: 330px;
    height: 280px;
    color: black;
}

.photos a img {
    width: 100%;
}

.photos a img:hover {
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.photos img.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: "FlipH";
    -ms-filter: "FlipH";
}

.photos span {
    position: relative;
    bottom: -5px;
}

article {
    border: 1px solid green;
    text-align: left;
    margin-bottom: 1em;
    min-height: 240px;
}

article img {
    width: 300px;
    float: right;
    padding: 1em;
}

article p {
    margin: 0.5em
}

.clock {
    border-radius: 50%;
    background: #fff url(../img/ios_clock.svg) no-repeat center;
    background-size: 88%;
    height: 8em;
    padding-bottom: 0;
    position: relative;
    width: 8em;
    margin-left: 5px;
    margin-top: 5px;
}

.clock.simple:after {
    background: #000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
}

.minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hours {
    background: #000;
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2.5%;
    rotation: 45deg;
}

.minutes {
    background: #000;
    height: 40%;
    left: 49%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 2%;
}

.seconds {
    background: #000;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    width: 1%;
    z-index: 8;
}

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

.hours-container {
    animation: rotate 43200s infinite linear;
}
.minutes-container {
    animation: rotate 3600s infinite linear;
}
.seconds-container {
    animation: rotate 60s infinite linear;
}

